@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "League Spartan", serif;
}
:root {
  --Dark-Gray: #a1a1a1;
  --Black: #000000;
  --White: #ffffff;
  --Very-Dark-Gray: #454545;
}
.container {
  background: linear-gradient(180deg, rgba(0, 0, 0, .5) 0%, transparent 100%);
  padding: 3rem 2rem;
  display: flex;
  gap: 12rem;
  position: fixed;
  width: 100%;
  z-index: 5;
}

.dislabel {
  display: none;
}

.navbar {
  position: absolute;
  background: rgba(0, 0, 0, .7);
  inset: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
}

.navbarContent {
  background: var(--White);
  padding: 3rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbarContent ul {
  list-style: none;
  display: flex;
  gap: 3rem;
  color: var(--Black);
  font-weight: 700;
  font-size: 1.4rem;
}
.navbarContent ul li{
  cursor: pointer;
  position: relative;
}
.navbarContent ul li::after{
  content: '';
  position: absolute;
  width: 100%;
  height: .2rem;
  background: var(--White);
  bottom: -1rem;
  left: 0;
  transform: scaleX(0);
  transition: .5s ease-in-out;
}
.navbarContent ul li:hover{
  transition: 1s ease-in-out;
  text-shadow: .2rem .2rem .3rem var(--Black), 0 0 2rem blue, 0 0 0.3rem blue;
}
.navbarContent ul li:hover::after{
 transform: scaleX(1);
}

@media (min-width: 1024px) {
  .container{
    align-items: center;
    gap: 5rem;
  }
  .iconMenu, .iconClose{
    display: none;
  }
  .dislabel {
    display: flex;
  }
  .navbarContent{
    background: transparent;
  }
  .navbarContent ul {
    color: var(--White);
    font-size: 2rem;
  }
}