.mainContainer {
  width: 100%;
  height: auto;
}

.sliderContainer {
  position: relative;
  z-index: 1;
}

.arrows {
  position: absolute;
  right: 0;
  top: 31rem;
  width: 10rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  button{
    background: var(--Black);
    width: 100%;
    height: 100%;
    cursor: pointer;
    border: none;
    &:hover{
      background: var(--Dark-Gray);
      transition: .2s ease-in-out;
    }
  }
}

.containerInfo {
  width: 100%;

  ul {
    list-style: none;
    display: flex;
    overflow: hidden;

    li {
      display: inline;
      min-width: 100%;

      figure {
        img {
          width: 100%;
        }

        img:nth-child(2) {
          display: none;
        }
      }

      div {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 4rem 3rem;

        h3 {
          color: var(--Black);
          font-weight: 700;
          font-size: 3rem;
          line-height: 3rem;
        }

        p {
          color: var(--Dark-Gray);
          font-weight: 500;
          font-size: 1.55rem;
          margin-block-start: 1.5rem;
          line-height: 2rem;
        }

        .iconArrow {
          margin: 5rem 0 3rem;
          width: 100%;
          display: flex;
          align-items: center;
          gap: 3rem;
          text-decoration: none;

          p {
            margin-block-start: 0;
            color: var(--Black);
            font-size: 1.6rem;
            letter-spacing: 1rem;
            font-weight: 700;
            &:hover{
              transition: .4s ease-in-out;
              color: var(--Dark-Gray);
            }
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .arrows {
    right: 0;
    top: 43.7rem;
    width: 15rem;
  }

  .containerInfo {
    ul {
      li {
        figure {
          img:nth-child(1) {
            display: none;
          }

          img:nth-child(2) {
            display: flex;
            width: 100%;
          }
        }
      }
    }
  }
}

@media (min-width: 1440px) {

  .arrows {
    right: 53rem;
    top: 46rem;
    width: 15rem;
    height: 7.5rem;

    img {
      width: 2rem;
    }
  }

  .containerInfo {
    ul {
      li {
        display: flex;

        figure {
          width: 100%;

          img:nth-child(1) {
            display: none;
          }

          img:nth-child(2) {
            display: flex;
            width: 100%;
            height: 100%;
          }
        }

        div {
          width: 70%;
          justify-content: center;
          padding-inline: 10rem;

          h3 {
            font-size: 4.5rem;
            line-height: 4rem;
          }

          p {
            font-size: 1.8rem;
            margin-block-start: 2rem;
            line-height: 3rem;
          }

          .iconArrow {
            p {
              font-size: 2rem;
            }

            img {
              width: 6rem;
            }
          }
        }
      }
    }
  }
}